


.container-fluid{
   height: 250px;
}

.row{
    height: 100px;
    
   
   
  }


  .container-fluid .row{

    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
  }
  
.container1{
    size: 300px;
    color: black
}


#container fluid{
  background-color: aqua;
}


.container1{
  margin-top: 100px;
  height: 800px;
  margin-left:100px ;
  margin-right: 100px;
  background-image: url(images/giphy.gif,) ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
}
.row1{
  margin: 200px;
}

.box img {border-radius: 6px;}

.box:hover {
    transform: scale(1.2);
    background: black;
    z-index: 2;
}

.box{
  width: 100px;
  height: 100px;
margin-left: 100px;
}


.container1 .row .col .button{background-color: #e67e22;
  margin: 50px;

  border: none;

 color: green;

  padding: 15px 32px;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 40px;
  background-color: white;

  cursor: pointer;
  transition-duration: 0.4s;
}

  .container1 .row .col .button:hover{
    background-color: #4CAF50; /* Green */
  color: white;
  
  }
 

  .container2{
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
    background-color: wheat;
  }
  .container4{
    background-color: wheat;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 400px;
    height: 200px;
    
  }


  .container4 img{
    margin-right: 50px;
    margin-left: 50px;
     border: 3px;
    background-color: wheat;

  }
  

  
.container7{
  height: 400px;
  margin-top: 100px;
  
  background-color: wheat;
  width: 100%;
}



.container8{
  height: 1600px;
  margin-left: 400px;
  margin-right: 200px;
  flex-wrap:wrap ;
}



.flex-container {
  margin-left: 100;
  margin-right: 100;
  padding: 0;
  margin-top: 100;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}



.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  
}  
.wrap li {
  
  width: 500px;
  height: 600x;
  background:wheat;
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  


.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 500px;
  margin: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.resim{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-color: white;
  background-color: white;
}

#Ali:hover{
  transform: scale(1.2);
  background: black;
  z-index: 2;
  transition: 2s;
}

#Al{color: green; font-family: 'Sansita Swashed';font-size: 35px;}
.container9{
  height:3200px;
  margin-left: 200px;
  margin-right: 200px;
  flex-wrap:wrap ;
}

#Alii{
  margin-top: 5px;
}

#hero{
  position: relative;
}
#hero video{
  opacity: 100;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: absolute;
  z-index: 10;
 
}

#hero .content{
  background:blue;
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}



#container3{
  background-color: black;
}


#container9{
  margin-right: 900px;
  width: 100%;
  margin-top: 200px;
  height: 800px;
  background-color:wheat;
}

#h1{
  margin-top: 100px;
}


.container10{
  margin-top: 100px;
  height: 500px;
 
  
}


.flex-container1 {
  margin-left: 400;
  margin-right: 200;
  padding: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap1    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  
}  
.wrap1 li {
 
  width: 550px;
  height: 800px;
  background:wheat;
}

.wrap1-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  


.flex-item1 {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;

  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}


